<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Player</h1>
<!--<form action="#" th:action="@{/addPlayer}" th:object="${player}" method="post">-->
<!--    <p>-->
<!--        <label for="playerName">Player Name:</label>-->
<!--        <input type="text" id="playerName" th:field="*{playerName}" required="required"/>-->
<!--    </p>-->
<!--    <p>-->
<!--        <label for="deck_name">Deck Name:</label>-->
<!--        <input type="text" id="deck_name" th:field="*{deck_name}" required="required"/>-->
<!--    </p>-->
<!--    <p>-->
<!--        <label for="deck_format">Deck Format:</label>-->
<!--        <input type="text" id="deck_format" th:field="*{deck_format}" required="required"/>-->
<!--    </p>-->
<!--    <button type="submit">Add Player</button>-->
<!--</form>-->
</body>
</html>